* {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --lightMode: #eceef790;
  --darkMode: #16cabe;
  --disable: #c4c3b5b8;
}
html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
}
.App {
  padding: 0px;
}
.h1 {
  font-size: 40px;
  font-weight: bolder;
  color: rgba(24, 19, 19, 0.856);
  padding-top: 30px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .h1 {
    font-size: 30px;
  }
}

/*-- style of Toggle --*/

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10%;
}
.dark-mode {
  background-color: var(--darkMode);
  color: rgb(37, 35, 35);
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}
.light-mode {
  background-color: var(--lightMode);
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2195f3bd;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2195f3bd;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 5px;
}

/*-- End of toggle Style --*/
/*-- style of Header --*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-gap: 10px;
  margin: 0px 10%;
  padding: auto;
}
.favCount {
  color: #e7f367fa;
  margin-left: 5px;
  font-weight: bold;
  font-style: normal;
  font-size: medium;
}

/*-- End of style of Header --*/
